<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581865118836-4tidjev30obcda596jsjnpq0li6l4i3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581865118836-4tidjev30obcda596jsjnpq0li6l4i3u</string>
	<key>API_KEY</key>
	<string>AIzaSyAmqlEOoZiwfhdipPWBza2tlb3psfCfIZA</string>
	<key>GCM_SENDER_ID</key>
	<string>581865118836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awesomeChat</string>
	<key>PROJECT_ID</key>
	<string>bamboo-clone-375709</string>
	<key>STORAGE_BUCKET</key>
	<string>bamboo-clone-375709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581865118836:ios:e3718d2cb801e135b50521</string>
</dict>
</plist>